# Dependencies
node_modules/
package-lock.json

# Env files
.env

# Logs
npm-debug.log
yarn-error.log

# Build / Coverage
dist/
build/
coverage/
.nyc_output/

# IDE / Editor settings
.vscode/
.idea/
*.swp

# OS-specific
.DS_Store

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
