# Dependencies
node_modules/

# Env files
.env

# Logs
npm-debug.log
yarn-error.log

# Build / Coverage
dist/
build/
coverage/
.nyc_output/

# IDE / Editor settings
.vscode/
.idea/
*.swp

# OS-specific
.DS_Store

