<% layout('layout/boilerplate') %>
    <!-- sends a post req, everything under this will be grouped and stored under 'campground'-->
    <div class="row">
        <h1 class="text-center">New Campground</h1>
        <!-- alternate way placing at the middle -> extract the middle 6 units out of 12 -->
        <div class="col-6 offset-3">
            <!-- 'novalidate' in order for bootstrap to takeover -->
            <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label">Title</label>
                    <input class="form-control" type="text" id="title" name="campground[title]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Location</label>
                    <input class="form-control" type="text" id="location" name="campground[location]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                
                <div class="input-group mb-3">
                    <input type="file" class="form-control" id="image" name="image" multiple>
                    <label class="input-group-text" for="image">Upload Images</label>
                </div>

                <div class="mb-3">
                    <label class="form-label">Campground Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="number" min="0" class="form-control" id="price-label" placeholder="0.00"
                            aria-label="Amount (to the nearest dollar)" name="campground[price]" required>
                        <span class="input-group-text" id="price-label">.00</span>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Description</label>
                    <textarea class="form-control" type="text" id="description" name="campground[description]"
                        required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <button class="btn btn-success">Add Campground</button>
                <a class="btn btn-warning" href="/campgrounds">Back To Index Page</a>
            </form>
        </div>
    </div>