<% layout('layout/boilerplate') %>
    <link rel="stylesheet" href="/css/home.css">
    <!-- sends a post req, everything under this will be grouped and stored under 'campground'-->
    <div class="container min-vh-100 d-flex justify-content-center align-items-center">
        <div class="card shadow text-white" style="background: transparent; border: none; width: 65rem;">
            <h1 class="card-title animate-fadeInUp text-center" style="animation-delay: 0.2s;">New Campgrounds</h1>
            <div class="card-body">
                <div class="row col-6 offset-3">
                    <!-- alternate way placing at the middle -> extract the middle 6 units out of 12 -->
                    <!-- 'novalidate' in order for bootstrap to takeover -->
                    <form action="/campgrounds" method="POST" novalidate class="validated-form"
                        enctype="multipart/form-data">
                        <div class="mb-3">
                            <label class="form-label animate-fadeInUp" style="animation-delay: 0.3s;">Title</label>
                            <input class="form-control" type="text" id="title" name="campground[title]" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label animate-fadeInUp" style="animation-delay: 0.4s;">Location</label>
                            <input class="form-control" type="text" id="location" name="campground[location]" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <input type="file" class="form-control" id="image" name="image" multiple>
                            <label class="input-group-text animate-fadeInUp" style="animation-delay: 0.5s;" for="image">Upload Images</label>
                        </div>

                        <div class="mb-3">
                            <label class="form-label animate-fadeInUp" style="animation-delay: 0.6s;">Campground Price</label>
                            <div class="input-group">
                                <span class="input-group-text" id="price-label">$</span>
                                <input type="number" min="0" class="form-control" id="price-label" placeholder="0.00"
                                    aria-label="Amount (to the nearest dollar)" name="campground[price]" required>
                                <span class="input-group-text" id="price-label">.00</span>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label animate-fadeInUp" style="animation-delay: 0.7s;">Description</label>
                            <textarea class="form-control" type="text" id="description" name="campground[description]"
                                required></textarea>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        
                        <div class="d-flex justify-content-between animate-fadeInUp" style="animation-delay: 0.9s;">
                            <button class="btn btn-outline-success">Add Campground</button>
                            <button class="btn btn-outline-warning"><a href="/campgrounds" style="text-decoration: none; color: inherit">Back To Index Page</a></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>