<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <h1><%= campgroundId.title %></h1>
    <h2><%= campgroundId.location %></h2>

    <footer>
        <p><a href="/campgrounds/<%= campgroundId._id %>/edit">Edit Campground</a></p>
        <a href="/campgrounds">Back to Index Page</a>
    </footer>
</body>
</html>