<% layout('layout/boilerplate') %>
<h1>
    <%= campgroundId.title %>
</h1>
<h2>
    <%= campgroundId.location %>
</h2>
<p>
    <button><a href="/campgrounds/<%= campgroundId._id %>/edit">Edit Campground</a></button>
<form action="/campgrounds/<%= campgroundId._id %>/?_method=DELETE" method="POST">
    <button>Delete this Campground</button>
</form>
</p>
<p><button><a href="/campgrounds">Back to Index Page</a></button></p>