<% layout('layout/boilerplate') %>

    <link rel="stylesheet" href="/css/home.css">

    <div class="container min-vh-100 d-flex justify-content-center align-items-center">
            <div class="card shadow text-white" style="background: transparent; border: none; width: 30rem;">
                <div class="card-body">
                    <h5 class="card-title animate-fadeInUp text-center" style="animation-delay: 0.2s;">Login</h5>
                    <form action="/login" method="POST" class="validated-form" novalidate>
                        <div class="mb-3">
                            <label class="form-label animate-fadeInUp" style="animation-delay: 0.4s;" for="username">Username</label>
                            <input class="form-control" type="text" id="username" name="username" autofocus required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label animate-fadeInUp" style="animation-delay: 0.6s;" for="password">Password</label>
                            <input class="form-control" type="password" id="password" name="password" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <button class="btn btn-success btn-block">Login</button>
                    </form>
                </div>
            </div>
    </div>